PC_PORTAL_BASE_URL=localhost:8080/portal
PC_API_BASE_URL=localhost:8080/api
PC_CDN_BASE_URL=localhost:8080/cdn
PC_ADMIN_EMAIL=admin@privatecaptcha.local
PC_EMAIL_FROM=no-reply@privatecaptcha.local
PC_RATE_LIMIT_HEADER=X-Real-IP
PC_USER_FINGERPRINT_KEY=b8d5203974d28578de5260f9846fb1e0a89d381cffeb5c4f233098998768896d41bf599fdc5fd03b40ecb154eeb44f334f2960842b0536fa02f64841f5c2eaf5
PC_XSRF_KEY=replace-me-xsrf-key
PC_API_SALT=replace-me-api-salt
PC_ID_HASH_SALT=replace-me-id-hash-salt
SMTP_ENDPOINT=
SMTP_USERNAME=
SMTP_PASSWORD=
PC_VERBOSE=1
